div#project-modal-content {
    height: 100%;
    padding: 4vw;
    overflow: scroll;
}

div#project-modal-content section {
    margin: 0 0 140px 0;
}

div#project-modal-content h1 {
    /* color: #550b92; */
    font-size: 30px;
    /* margin-bottom: 30px; */
}

div#project-modal-content h2 {
    /* color: #550b92; */
    font-size: 22px;
    margin-bottom: 30px;
}

div#project-modal-content p {
    /* color: #542370; */
}

div#project-modal-content div#shape {
    position: relative;
    height: 30px;
    background-color: red;
}

div#project-modal-content iframe.youtube-embed {
    filter: drop-shadow(0px 0px 3px #1a1f2f);
}