/* Global */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

html {
    scrollbar-color: #3f4452 #191C24;

}

body {
    background-color: #191C24;
    font-family: Bahnschrift;
}

h1, h2 {
    color: #F3E5B1;
    font-weight: 400;
}

a {
    color: #f0bbe7;
    text-decoration: none;
}

p {
    font-weight: 100;
    margin-bottom: 28px;
    max-width: 500px;
    color: #ffffff
}

span {
    font-weight: 100;
}

a:hover {
    color: #a75f9b;
}

.cursor-hover:hover {
    cursor: pointer;
}

/* Containers */
#topbar {
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg, #8583FF 0%, #941BA8 29.9%, #2551EE 78.22%, #6AE1FB 90.96%, #A84E99 100.96%);
}

#content-container {
    max-width: 800px;
    /* min-height: 900px; */
    margin: 0 auto;
    background-image: url("../images/ring.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4px;
}

/* Intro */

section {
    margin: 50px auto 100px auto;
}

section#intro {
    /* min-height: 800px; */
}

section#intro h1 {
    font-size: 46px;
    margin-bottom: 50px;
}

/* Intro - Social links */

section#intro div.social-links {
    margin-bottom: 28px;
}

section#intro div.social-links a.social-link-item {
    display: flex;
    margin-bottom: 6px;
    white-space: nowrap;
}

section#intro div.social-links a.social-link-item img {
    height: 18px;
    width: 34px;
    object-fit: contain;
    object-position: left bottom;
}

section#intro div.social-links a.social-link-item span {
    font-weight: 400;
}

/* Intro - Profile pic */

section#intro div.profile-pic-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section#intro div.profile-pic-container span {
    color: #AEC7E4;
    margin-right: 20px;
    font-size: 20px;
}

/* Projects */

section#projects h2 {
    font-size: 32px;
    margin-bottom: 14px;
}

section#projects div.project-row {
    display: flex;
    color: #ffffff;
    max-width: 90%;
    margin-bottom: 10px;
    font-size: 100%;
}

section#projects div.project-row:hover {
    color: #5f78a7;
}

@media screen and (max-width: 600px) {
    section#projects div.project-row {
        font-size: 2.5vw;
    }
}

section#projects div.project-row div.col-year {
    flex: 1;
    min-width: 70px;
}

section#projects div.project-row div.col-name {
    flex: 4;
}

section#projects div.project-row div.col-client {
    flex: 3;
}

/* Project Modal */

div#project-modal {
    position: fixed;
    height: 100%;
    min-width: 600px;
    width: 50vw;
    top: 0;
    background-color: #f8fdff;
    transform: translateX(100vw);
    box-shadow: -2px 0px 20px rgba(44, 52, 75, 0.6);

    transition: 0.5s;
}

/* Mobile screens (< 600px) */
@media screen and (max-width: 600px) {
    div#project-modal {
        background-color: blue;
        width: 100vw;
        min-width: 0;
    }

    div#project-modal.show {
        transform: translateX(0);
    }
}

/* Tablets and PCs (> 600px) */
@media screen and (min-width: 600px) {
    div#project-modal.show {
        transform: translateX(calc(100vw - 100%));
    }
}

div#project-modal img#project-modal-close {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateX(3%) translateY(-15%) scale(0.5);
}